- if flash["error"]
  .alert.alert-danger.alert-dismissible.fade.show.w-50.mx-auto.text-center{role: "alert"}
    = flash["error"]
    %button.btn-close{"type" => "btn-close", "data-bs-dismiss" => "alert", "aria-label" =>"Close"}
- elsif flash["success"]
  .alert.alert-success.alert-dismissible.fade.show.w-50.mx-auto.text-center{role: "alert"}
    = flash["success"]
    %button.btn-close{"type" => "btn-close", "data-bs-dismiss" => "alert", "aria-label" =>"Close"}
