%button.btn.btn-warning#unfollow_btn{"hx-post" => "/users/#{@user&.id || @active_user.id}/delete_cbe",
  name: "cbe_number", value: cbe_number, "hx-swap" => "outerHTML"}
  Unfollow
  - if defined?(error) && error
    %p (#{error})
