body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.disabled {
  pointer-events: none;
}

.no_list_style {
  list-style: none;
}

.followed {
  background-color: #a0d8e1;
}

.new_entity {
  background-color: #f2e6ea;
}

#backToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-size: 18px;
  transition: all 0.3s ease;
}

#backToTop:hover {
  background-color: #0b5ed7;
}

#backToTop i {
  display: block;
  line-height: 1;
}
