body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.disabled {
  pointer-events: none;
}

.no_list_style {
  list-style: none;
}

.followed {
  background-color: #a0d8e1;
}
