%h4.text-center.mb-5 You're done fixing zip codes !!
%p.text-center.mb-5 Enjoy your day
%p.text-center
  %a.btn.btn-primary{href: "/"} Back to Home Page
%p.text-center
  %a{href: "/"}
    %img{src: "/images/23-leisure.png", alt: "Drawing of nautical ski"}


