- @page_title = "Search"
- @tab_title = "Search"

%h4.h5.text-center.bg-secondary.bg-gradient.py-3.text-white.mb-5.w-25.mx-auto Select Search Type

.col-10.offset-1.col-md-6.offset-md-3.col-xl-4.offset-xl-4.d-flex.justify-content-between.mb-3
  %p.btn.btn-primary{"hx-get" => "/search/search-form/file-name", "hx-target" => "#search-bar"} File Name
  %p.btn.btn-primary{"hx-get" => "/search/search-form/entity-name", "hx-target" => "#search-bar"} Entity Name
  %p.btn.btn-primary{"hx-get" => "/search/search-form/cbe-number", "hx-target" => "#search-bar"} CBE Number

.col-10.offset-1.col-md-4.offset-md-4.col-xl-2.offset-xl-5#search-bar
